*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 5px solid black;
    height: 350px;
    margin-top: 50px;
}
.row{
    border: 3px solid blue;
    height: 100%;
}
.col{
    border: 2px solid brown;

}